$tablet: 770px;
$mobile: 320px;


:root {
  --col-white: #F6F6F6;
  --col-balck: #474747;
  --col-grey: #9F9F9F;
  --col-blue: #0068F5;
  --col-blue-light: #0068F580;
  --col-grey-medium: #D1D1D1;
  --color-background: var(--col-white);
  --color-text: var(--col-balck);
}
