//@media (max-width: $breakpoint-s) {
//  .container {
//    padding: 0 var(--s);
//  }
//}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Poppins sans-serif;
  font-size: 15px;
}
