button {
  background-color: var(--col-blue);
  font-size: 18px;
  color: var(--col-white);
  line-height: 27px;
  padding: 12px 24px;
  border-radius: 50px;
  width: fit-content;
  &:disabled {
    background-color: var(--col-grey-medium);
    cursor: not-allowed;
  }
}