@import '@/app/styles/index.scss';

.summary {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 378px;
  height: fit-content;
  background-color: var(--col-white) !important;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 35px;
  &-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    &.divider {
      &::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--col-grey);
      }
    }
  }
  @media screen and (max-width: $tablet) {
    background-color: #FFFFFF !important;
    border-radius: 50px;
    padding: 20px;
    width: 100%
  }
}

.checkout {
  background-color: var(--col-blue);
  font-size: 18px;
  color: var(--col-white);
  line-height: 27px;
  padding: 12px 24px;
  border-radius: 50px;
  width: fit-content;
  &:disabled {
    background-color: var(--col-grey-medium);
    cursor: not-allowed;
  }
}