.controls {
  display: flex;
  flex-direction: column;
  gap: 32px;
  &-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  &-add {
    background-color: var(--col-blue);
    font-size: 18px;
    color: var(--col-white);
    line-height: 27px;
    padding: 12px 24px;
    border-radius: 50px;
    width: fit-content;
    &:disabled {
      background-color: var(--col-grey-medium);
      cursor: not-allowed;
    }
  }
}

.p-dropdown {
  width: 70%;
  padding: 8px 16px;
  border-radius: 10px
}

.dropdown-panel {
  padding: 8px;
}

.variants-wrapper {
  display: flex;
  gap: 5px;
}