@import '@/app/styles/index.scss';

.control-quantity {
  padding: 8px 16px;
  background-color: var(--color-background);
  width: fit-content;
  border: 1px solid var(--col-grey);
  border-radius: 10px;
  @media screen and (max-width: $tablet) {
    padding: 0;
    border-radius: 6px;
  }
}