main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-content: center;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  position: absolute;
}
h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--col-grey);
}
.title-divided {
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
}