@import '@/app/styles/index.scss';

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-content: center;
  @media screen and (max-width: $tablet) {
    gap: 40px;
  }
}

.title-divided {
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
  }
}