@import '@/app/styles/index.scss';

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-content: center;
}

.title-divided {
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
}