.badge {
  padding: 8px 24px 8px 24px;
  background-color: var(--col-blue-light);
  color: var(--col-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 31.5px;
  border-radius: 8px;
  width: fit-content;
}