.badge {
  padding: 8px 24px 8px 24px;
  background-color: var(--col-blue-light);
  color: var(--col-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 31.5px;
  border-radius: 8px;
  width: fit-content;
  &.small {
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 14.92px
  }
  &.opacity {
    background-color: var(--col-grey-medium);
  }
}